body {
    font-family: Arial, sans-serif;
    background-color: #FEFAA1;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 270px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FEFAA1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"] {
    border-radius: 16px;
    background: #E2CE1A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #36320A;
    color: #36320A;
}
button {
    border-radius: 30px;
    background: #36320A;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

button:hover {
    background-color: #58540E; 
}